.header{
	text-align: center;
}
body{
	background-color: pink;
}
.colorText {
	color: Black;
	background-color: White;
	text-align: left;
}

.small{
	height: 100px;
	width: 100px;
}

.column {
    float: left;
    width: 50%;
}
.center{
	text-align:center;
}
.right{
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 

