body{
	background-color:lightblue;
	margin: auto;
}
.colorText {
	color: Black;
	background-color: White;
	text-align: left;
}

.small{
	height: 100px;
	width: 100px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 

